$blue: #3366cc;
$light-blue: #b8c8e2;
$dark-grey-blue: #1b1c29;

$dark-collection: (dark-grey-blue);

$color-collection: (blue, light-blue, dark-grey-blue);

@each $color in $color-collection {
  $alt_color: altColor($color, $dark-collection);

  body.#{$color} {
    background-color: getColor($color);
    .west-side {
      &,
      h4 {
        color: white;
      }
    }

    .east-side {
      box-shadow: 0 3px 3px 0px $alt_color;

      .article-content {
        background-color: #ffffff;
      }

      .article-title {
        background-color: $alt_color;
        color: #ffffff;
      }
      .article-title-text {
        color: #ffffff;
      }
      .article-title-date {
      }
      .article-title-button {
        color: #ffffff;
      }
      .article-content {
        p {
        }
        p,
        h2,
        h3,
        h4 {
        }
        p:last-child {
        }
      }
    }

    //* Styles for screens that are below small breakpoint */
    @media only screen {
    }

    //* Styles for screens that are atleast 768px; */
    @media only screen and (min-width: 48em) {
      .west-side {
      }
    }

    //* Medium Displays: 768px - 1279px */
    @media only screen and (min-width: 48em) {
    }

    //* Large Displays: 1280px - 1440px */
    @media only screen and (min-width: 80em) {
    }

    //* X-Large Displays: 1400px and up */
    @media only screen and (min-width: 90em) {
    }
  }
}
