:root {
  /* colors */
  --light-yellow: #fefed7;
  --pinkred: #f63e62;
  --leafy-green: #75a63a;
  --mud-purple: #844a87;

  /* default theme */
  --leaf-background: var(--leafy-green);
  --leaf-full: grey;
}

body {
  padding: 0;
  margin: 0;
}

body,
#root {
  display: flex;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--light-yellow);
}

#root {
  flex: 1;
}

.debug {
  position: fixed;
  flex: none;
  top: 10px;
  left: 10px;
  color: white;
  background: black;
  width: 200px;
}

.green-theme {
  --leaf-background: var(--leafy-green);
}

.red-theme {
  --leaf-background: var(--pinkred);
}

.purple-theme {
  --leaf-background: var(--mud-purple);
}

.App {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.base {
}
