.base {
  --base: 25vh;
  --base-width: var(--base);
  --base-height: var(--base);
  --scale: 0.707;
  --top-angle: 90deg;
  --right-angle: 45deg;
  --left-angle: 45deg;
  --right-rotation: var(--right-angle);
  --left-rotation: calc(-1 * var(--left-angle));
  --right-scale: 0.707;
  --left-scale: 0.707;
}

.Node,
.Node--inner {
  width: var(--base-width);
  height: var(--base-height);
}
.Node {
  background-color: var(--leaf-background);
  opacity: 0.9;
  transition: background 1s, transform 16ms;
}

.Node--right {
  right: 0;
  top: -100%;
  transform-origin: bottom right;
  transform: scale(var(--right-scale)) rotate(var(--right-rotation));
}

.Node--left {
  top: -100%;
  left: 0;
  transform: scale(var(--left-scale)) rotate(var(--left-rotation));
  transform-origin: bottom left;
}

.Node--even-level {
}

.Node--full {
  background: var(--leaf-full);
}

.Node--inner {
  position: relative;
}

.Node--inner .Node {
  position: absolute;
}
