.Node {
  --width: 75px;
  --height: 75px;
}

.Node {
  background-color: var(--leaf-background);
  width: var(--width);
  height: var(--height);
  opacity: 1;
  transition: background 1s;
}

.Node.Node--right {
  transform: scale(0.707) translateY(-140%) translateX(-70%) rotate(-45deg);
}

.Node.Node--left {
  /*left: 0;*/
  /*transform: rotate(-45deg);*/
  /*transform-origin: bottom left;*/
  transform: scale(0.707) translateY(-280%) translateX(70%) rotate(45deg);
}

.Node--even-level {
}

.Node--full {
  background: var(--leaf-full);
}
