.Node {
  --width: 75px;
  --height: 75px;
  --scale: 0.707;
}

.Node {
  background-color: var(--leaf-background);
  width: var(--width);
  height: var(--height);
  opacity: .90;
  transition: background 1s;
}

.Node.Node--right {
  transform: scale(var(--scale)) rotate(45deg);
  right: 0;
  transform-origin: bottom right;
  top: -100%;
}

.Node.Node--left {
  transform: scale(var(--scale)) rotate(-45deg);
  transform-origin: bottom left;
  left: 0;
  top: -100%;
}

.Node--even-level {
}

.Node--full {
  background: var(--leaf-full);
}

.Node--inner {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.Node--inner .Node {
  position: absolute;
}
