@import url(http://fonts.googleapis.com/css?family=Open+Sans:400, 300);
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.east-side .article-content p {
  font-weight: 300;
  font-size: 1.22em;
}
.east-side .article-title-button {
  font-size: 2em;
}

body {
  padding-top: 40px;
  overflow-y: scroll;
}

.west-side {
  position: relative;
}

.east-side .article-title {
  position: relative;
  overflow: hidden;
}
.east-side .article-title-text {
  margin-left: 8px;
  line-height: 30px;
}
.east-side .article-title-date {
  line-height: 30px;
  margin-right: 15px;
}
.east-side .article-title-button {
  line-height: 30px;
  margin-right: 8px;
}
.east-side .article-content {
  padding: 15px 0;
}
.east-side .article-content p {
  margin-top: 1.25em;
}
.east-side .article-content p,
.east-side .article-content h2,
.east-side .article-content h3,
.east-side .article-content h4 {
  margin-left: 0.9375em;
  margin-right: 0.9375em;
}
.east-side .article-content p:last-child {
  margin-bottom: 0;
}

.index article {
  margin-bottom: 1em;
}
.index article h3 {
  margin-bottom: 0;
}
.index article h4 {
  margin: 0;
  line-height: 0.5;
}

@media only screen and (min-width: 48em) {
  .west-side {
    position: fixed;
    max-width: 15.625em;
  }
}
body.blue {
  background-color: #3366cc;
}
body.blue .west-side,
body.blue .west-side h4 {
  color: white;
}
body.blue .east-side {
  box-shadow: 0 3px 3px 0px #28509f;
}
body.blue .east-side .article-content {
  background-color: #ffffff;
}
body.blue .east-side .article-title {
  background-color: #28509f;
  color: #ffffff;
}
body.blue .east-side .article-title-text {
  color: #ffffff;
}
body.blue .east-side .article-title-button {
  color: #ffffff;
}

body.light-blue {
  background-color: #b8c8e2;
}
body.light-blue .west-side,
body.light-blue .west-side h4 {
  color: white;
}
body.light-blue .east-side {
  box-shadow: 0 3px 3px 0px #90a9d2;
}
body.light-blue .east-side .article-content {
  background-color: #ffffff;
}
body.light-blue .east-side .article-title {
  background-color: #90a9d2;
  color: #ffffff;
}
body.light-blue .east-side .article-title-text {
  color: #ffffff;
}
body.light-blue .east-side .article-title-button {
  color: #ffffff;
}

body.dark-grey-blue {
  background-color: #1b1c29;
}
body.dark-grey-blue .west-side,
body.dark-grey-blue .west-side h4 {
  color: white;
}
body.dark-grey-blue .east-side {
  box-shadow: 0 3px 3px 0px #31334b;
}
body.dark-grey-blue .east-side .article-content {
  background-color: #ffffff;
}
body.dark-grey-blue .east-side .article-title {
  background-color: #31334b;
  color: #ffffff;
}
body.dark-grey-blue .east-side .article-title-text {
  color: #ffffff;
}
body.dark-grey-blue .east-side .article-title-button {
  color: #ffffff;
}
