@layer base {
  body {
    background: var(--surface);
    color: var(--text);
    font-family: var(--font-body);
    font-size: var(--text-body);
    line-height: var(--leading-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 1lh;
    line-height: var(--leading-heading);
    &:first-child {
      margin-block-start: 0;
    }
  }

  :is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
    margin-block-start: 0;
  }

  h1 {
    font-size: var(--text-display);
    color: var(--text-strong);
    font-weight: 700;
  }

  h2 {
    font-size: var(--text-heading);
    color: var(--text-strong);
    font-weight: 700;
  }

  h3 {
    font-size: var(--text-subheading);
    color: var(--text-strong);
    font-weight: 700;
  }

  p,
  ul,
  ol,
  dl {
    margin-bottom: 1lh;
  }
  li > :last-child {
    margin-bottom: 0;
  }

  a {
    color: var(--text-link);
    &:hover {
      color: var(--text-link-hover);
    }
  }
}
