@layer jetbrains-cyan-light {
  :root {
    --color--shade00: #f2f3f7;
    --color--shade01: #dadde8;
    --color--shade02: #c1c6d9;
    --color--shade03: #a9b0ca;
    --color--shade04: #525c85;
    --color--shade05: #434b6c;
    --color--shade06: #343a54;
    --color--shade07: #25293c;

    --color--shade01-lighter: #e6e8f0;
    --color--shade03-darker: #9199bb;
    --color--shade04-lighter: #616d9d;

    --color--page-background: var(--color--shade00);
    --color--page-foreground: var(--color--shade07);

    --color--comment-gray: #808080;

    --color--gutter-blue: #c3d6e8;
    --color--faint-blue: #e8eef1;
    --color--lighter-blue: #d0eaff;
    --color--light-blue: #99ccff;
    --color--cursor-blue: #80bfff;
    --color--blue: #0073e6;
    --color--dark-blue: #185b93;
    --color--darker-blue: #000080;

    --color--purple: #660e7a;
    --color--light-purple: #ed9cff;

    --color--gutter-green: #c9dec1;
    --color--green: #00733b;
    --color--light-green: #5dce87;
    --color--green-blue: #458383;

    --color--yellow: #808000;
    --color--dark-yellow: #7a7a43;

    --color--light-orange: #f9c881;
    --color--orange: #f49810;

    --color--gutter-red: #ebbcbc;
    --color--red: #d90016;
    --color--dark-red: #7f0000;
  }
}
