:root {
  --unit: 1rem;
}

body {
  display: flex;
  min-height: 100vh;
  background: var(--color--page-background);
  color: var(--color--page-foreground);
  font-family: Cambria, Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 1lh;
  &:first-child {
    margin-block-start: 0;
  }
}

:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
  margin-block-start: 0;
}

p,
ul,
ol,
dl {
  margin-bottom: 1lh;
}

a {
  color: var(--color--blue);
}
