body {
  display: flex;
  min-height: 100vh;
}

.layout {
  display: grid;
  grid-template: "nav main" 1fr / auto 1fr;

  gap: calc(var(--unit) * 3);
  flex: 1;

  @media screen and (max-width: 576px) {
    grid-template: "construction-notice" auto "nav" auto "main" 1fr / minmax(0, 1fr);
    gap: var(--unit);
    padding-left: var(--unit);
    padding-right: var(--unit);
  }
}

.nav {
  grid-area: "nav";
  padding: 1rem;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

.main {
  grid-area: main;
  max-width: 720px;
  line-height: 1.5;
  padding: 2rem 0 2rem;
}
