.Node,
.Node--inner {
  width: var(--base-width);
  height: var(--base-height);
}

.Node--growing {
  --leaf-background: var(--leaf-growing);
}
.Node--full {
  --leaf-background: var(--leaf-full);
}

.Node {
  background-color: rgba(var(--leaf-background), var(--coefficient));
  transition: background 1s;
}

.Node--right {
  right: 0;
  top: -100%;
  transform-origin: bottom right;
  transform: scale(var(--right-scale)) rotate(var(--right-rotation));
}

.Node--left {
  top: -100%;
  left: 0;
  transform-origin: bottom left;
  transform: scale(var(--left-scale)) rotate(var(--left-rotation));
}

.Node--inner {
  position: relative;
}

.Node--inner .Node {
  position: absolute;
}
