@layer page {
  @media print {
    body {
      width: 210mm;
      font-size: 11pt;
    }
    .main {
      padding: 0;
      max-width: initial;
    }
    .layout {
      grid-template-columns: 1fr;
    }
    .nav {
      display: none;
    }
  }

  .resume-page,
  .print-resume-page {
    h1:not(:is(.name)) {
      margin-block-end: 0.25lh;
    }

    dl {
      padding-left: 0;
      padding-inline-start: 0;
    }

    dd {
      margin-left: 0;
      margin-inline-start: 0;
    }

    a {
      text-decoration: none;
      color: var(--text-accent);
      font-weight: bold;
      .contact-info & {
        color: var(--text-muted);
      }
    }

    .description {
      margin-top: var(--space-3);
      margin-bottom: var(--space-3);
    }

    .skill-item:not(:first-child):before,
    .employer-detail span:not(:first-child):before,
    .location small:not(:first-child):before {
      content: " \00B7 ";
      padding-left: var(--space-1);
      padding-right: var(--space-1);
    }

    .location {
      display: inline;
      small {
        white-space: nowrap;
      }
    }
    .single-position {
      .position-title,
      .employer-detail,
      .employment-dates,
      .location {
        display: inline-block;
        text-transform: uppercase;
        * {
          font-size: var(--text-ui);
          font-family: var(--font-ui);
        }
      }
      .employer-name {
        text-transform: none;
      }
      .position-title {
        h2:after {
          content: ",";
        }
      }
      .employment-dates {
        &:before,
        &:after {
          content: "—";
        }
      }
    }
    .employment-type,
    .location-type {
      display: none;
    }
    .multiple-positions {
      .positions > .position:first-of-type h3 {
        margin-top: 0;
      }
      .positions {
        border-left-width: 2px;
        border-left-color: rgba(213, 213, 213);
        border-left-style: dotted;
        padding-left: 1em;
      }
      .position-title,
      .position-dates,
      .employer-detail,
      .employment-type-and-dates,
      .location {
        display: inline-block;
        text-transform: uppercase;
        * {
          font-size: var(--text-ui);
          font-family: var(--font-ui);
        }
      }
      .employer-detail {
        text-transform: none;
      }
      .employment-dates {
        &:before,
        &:after {
          content: " — ";
        }
      }
      .position-dates {
        &:before {
          content: "—";
        }
      }
    }
    .employer-name {
      color: var(--text-accent);
      font-weight: bold;
    }
    .position-title * {
      color: var(--text-muted);
      font-weight: bold;
    }
    .position-tasks > ul {
      margin-block-end: 0;
    }

    .contact-info ul {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: column;

      gap: 10px;
      list-style-type: none;
      padding: 0;
      margin-block-end: 0.75lh;
    }
    .employment-article {
      break-inside: avoid;
    }
    .education {
      dt {
        font-weight: bold;
        &:not(:first-of-type) {
          margin-top: 1em;
        }
      }
    }
    .last-name {
      font-weight: lighter;
    }
  }
}
