@import url("./fractal.css");
@import url("./leaf.css");

:root {
  --light-yellow-color: "254, 254, 215";
}

.home-page {
  position: relative;
  display: flex;
  min-height: 100%;
  justify-content: center;
  @media screen and (max-width: 576px) {
    justify-content: start;
  }
}

.canvas-outer {
  position: absolute;
  width: 65%;
  max-width: calc(85vh - (4 * var(--pico-spacing)));
  aspect-ratio: 1;
  @media screen and (max-width: 576px) {
    width: 95%;
  }
}
