:root {
  /* colors */
  --light-yellow: 254, 254, 215;
  --pinkred: 246, 62, 98;
  --leafy-green: 117, 166, 58;
  --mud-purple: 132, 74, 135;

  /* default theme */
  --leaf-growing: var(--leafy-green);
  --leaf-full: 128, 128, 128;
}

body {
  padding: 0;
  margin: 0;
}

body,
#__next {
  display: flex;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: rgb(var(--light-yellow));
}

#__next {
  flex: 1;
}

.debug {
  position: fixed;
  flex: none;
  top: 10px;
  left: 10px;
  color: white;
  background: black;
  width: 200px;
}

.green-theme {
  --leaf-growing: var(--leafy-green);
}

.red-theme {
  --leaf-growing: var(--pinkred);
}

.purple-theme {
  --leaf-growing: var(--mud-purple);
}

.App {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.base {
}
