.Canvas {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  /* colors */
  --pinkred: 246, 62, 98;
  --leafy-green: 117, 166, 58;
  --mud-purple: 132, 74, 135;

  /* default theme */
  --growing-leaf-color: var(--leafy-green);
  --leaf-full: 128, 128, 128;

  /* geometry */
  --base: 75px;
  --base-width: var(--base);
  --base-height: var(--base);
  --scale: 0.707;
  --top-angle: 90deg;
  --right-angle: 45deg;
  --left-angle: 45deg;
  --right-rotation: var(--right-angle);
  --left-rotation: calc(-1 * var(--left-angle));
  --right-scale: 0.707;
  --left-scale: 0.707;
  --coefficient: 1;
}
