@import "_app_fonts.css";
@import "app_functions";
@import "app_bootstrap";
@import "app_layout";
@import "app_colors";

// TODO : add medium threshold
// TODO : manage colors
// TODO : use icons for categories
// TODO :
